# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Virtual env
.venv/
venv/

# IDE / Editor
.idea/
.vscode/

# OS / Misc
.DS_Store
Thumbs.db
